@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    background-color: rgb(189, 8, 8);
}
h1{
    padding-top: 300px;
    color: rgb(5, 4, 4); 
    font-family: 'Dancing Script', cursive;
}

button{
    width: 120px;
    height: 38px;
    margin-top: 10px;
    background-color: rgb(5, 4, 4);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 450;
    font-size: 1rem;
    color: #ffffff;
    border: transparent;
    border-radius: 3px;
    transition: 0.3s;
}
button:hover{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}
